* {
    margin: 0;
    padding: 0;

}

.calculator {
    height: 32rem;
    width: 23rem;
    border: 2px solid black;
    margin: 20px auto;
    background-color: #0d0d0d;
    border-radius: 10px;
    box-shadow: 0px 16px 20px 0px green, -15px -8px 20px 0px #0382c2, 16px 4px 12px 3px #ed347a;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.display {
    height: 5rem;
    width: 21rem;
    background-color: #2e3235 ;
    border-radius: 10px;
    margin: 20px auto;
    color: white;
    font-size: 40px;
    text-align: end;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
#btn{
    height: 35px;
    width: 70px;
    background-color: #2f2f2f ;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 25px;
}

#btn:hover {
    opacity: 0.6;
    box-shadow: 0 0 5px #444444 (255, 0, 0, 0.726);
}
.del:hover{
    opacity: 0.6;
    box-shadow: 0 0 5px rgba(190, 184, 10, 0.726);
}
.clear:hover{
    opacity: 0.6;
    box-shadow: 0 0 5px rgba(87, 245, 9, 0.726);
}